.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
lib/js/reveal.min.js

# Private
rstate/**
fintech-1/
fintech-01-1-intro/
fintech-01-2-basics/
fintech-01-3-git/
fintech-01-4-gitlab/
fintech-02-1-functions/
fintech-02-2-objects/
fintech-02-3-arrays/
stapp/