body:after {
    content: '';
    display: block;
    background: url('./images/rs-logo.svg');
    background-size: cover;
    height: 40px;
    width: 237px;
    position: absolute;
    z-index: 999;
    bottom: 8px;
    right: 8px;
    filter: invert(1);
}

.index-slide .slide-number,
body:after {
    display: none!important;
}

.reveal .header {
    border-bottom: none!important;
}

.reveal .heading-main {
    color: var(--text-color);
    text-align: left;
    text-transform: none;
    font-size: 2.5em;
    line-height: 1;
}

.reveal .subheading-main {
    color: var(--text-color);
    text-align: left;
    text-transform: none;
    font-size: 1.2em;
}

.reveal .rs-main-logo {
    height: 2em;
    float: left;
    margin: 3em 0 0;
    filter: invert(1);
}

